---
layout: default
---

<section>
  {% include image-gallery.html folder="/images" %}
</section>

<section>  
  <table>
      <thead>
         <tr>
           <th> 파일 </th>
           <th> 등록날짜 </th>
         </tr>
      </thead>
    
      <tbody>
        {% assign files = site.static_files | where: "images", true %}
        {% for myfile in files %}
          <tr>   
            <td><a href="{{ myfile.path }}">{{ myfile.name }}</a></td>
            <td>{{ myfile.modified_time }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
  
</section>
