---
layout: default
---
<section>
	<center><span style="border: 3px solid #666666; background-color: #666666; color: white; border-radius: 5px; padding: 5px;"><a style="text-decoration: none; color:white; margin: 10px;" href="/question">Question</a>|<a style="text-decoration: none; color:white; margin: 10px;" href="/law">Law</a>|<a style="text-decoration: none; color:white; margin: 10px;" href="/youtube">Youtube</a></span></center>
</section>
<section>
	{% for post in site.posts %}
		{% if post.status == "notice" %}
			<h3 class="code">Notice</h3>
			{% break %}
		{% endif %}
	{% endfor %}
	
	{% for post in site.posts %}
		{% if post.status == "notice" %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d" }}</span>
					</div>
					<div class="title">
						<span style="border: 1px solid LightCoral; background-color: LightCoral; color: white; padding: 2px; border-radius: 5px; margin: 3px auto;">공지</span>
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
					</div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}
		
	{% for post in site.posts %}		
		{% unless post.next %}
			<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		
		{% endunless %}
		{% if post.status == "public" or post.status == "hot" or post.status == "youtube" or post.status == "question-unsolved" or post.status == "question-solved" %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d" }}</span>
					</div>
					<div class="title">
						{% if post.status == "notice" %}
							<span style="border: 1px solid LightCoral; background-color: LightCoral; color: white; padding: 2px; border-radius: 5px; margin: 3px auto;">공지</span>
						{% endif %}
						{% if post.status == "hot" %}
							<span style="border: 1px solid Gold; background-color: Gold; color: white; padding: 2px; border-radius: 5px; margin: 3px auto;">HOT</span>
						{% endif %}
						{% if post.status == "question-unsolved" or post.status == "question-solved" %}
							<span style="border: 1px solid CornflowerBlue; background-color: CornflowerBlue; color: white; padding: 2px; border-radius: 5px; margin: 3px auto;">질문</span>
						{% endif %}
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
					</div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}

</section>
